html {
  scroll-behavior: smooth;
}

*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* styles.css */
body {
  background-image: url(redes_fondo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  background: #7BBBFF;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  box-shadow:0 15px 20px rgba(0, 0, 0, 0.4);
  
}

.logo{
  font-size: 25px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 500;
  
}

.navegador ul{
  list-style: none ;
  
}

.header .navegador ul li{
  float: left;
  position: relative;
  
}

.header .navegador ul li a{
  font-size: 18px;
  color :#FFFFFF;
  text-decoration: none;
  padding: 20px;
  display: block;
  transition: all 1s ease;
  border-radius: 15px;
}

.header .navegador ul li a:hover{
  background: #FFFFFF;
  color: #000000;
  height: 100%;
}

.header .navegador ul li:hover > ul{
  display: initial;
}

#toggle,
.header label{
  display: none;
  cursor: pointer;
  
}

.menu{
  width: 65px;
  height: 65px;
  margin: 0;
  padding: 0;
}

@media  (max-width: 950px){
  .header label{
  display: initial;
}


.header .navegador{
  position:absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #7BBBFF;
  display: none;
}

.header .navegador ul li {
  width: 100%;
  
}
.header .navegador ul li a{
  padding: 8px 20px 8px 20%;
}


}

#toggle:checked ~ .navegador{
  display: block;
}

.centro{
  background-image: url(fondo_1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300% 100%;
  padding: 50% 0 60% 0;
  height: 100%;
}

.box_text{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #FFFFFF;
}

#line{
  text-decoration: none;
  color:#FFFFFF;
  font-size:18px;
}

#line:hover{
  color: #0044FF;
}

.boton{
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background: #7BBBFF;
  border-radius: 10px;
  font-size: 18px;
  padding: 8px 25px 8px 25px;
  transition: all .70s ease;
  border: 1px solid #7BBBFF;
}



.boton:hover{
  transition: all .70s ease;
  color: #7BBBFF;
  background: #FFFFFF;
  border: 2px solid #7BBBFF;
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.39);
  animation-name:jello-horizontal;
  animation-duration: 1s;
}

.jello-horizontal{animation:jello-horizontal .9s linear both} @keyframes jello-horizontal{0%{transform:scale3d(1,1,1)}30%{transform:scale3d(1.25,.75,1)}40%{transform:scale3d(.75,1.25,1)}50%{transform:scale3d(1.15,.85,1)}65%{transform:scale3d(.95,1.05,1)}75%{transform:scale3d(1.05,.95,1)}100%{transform:scale3d(1,1,1)}}

.fondo{
  background: #7BBBFF;
  margin: 0;
  
}

.content{
  display:flex ;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 4vh;
  overflow: hidden;
}

[data-animation="fade"]{
  opacity: 0;
  transform: translate(100%);
  transition: .6s ease-in .1s;
  --opacity:1;
  --transform:translate(0);
}

[data-animation="show"] {
  opacity: 0;
  transform: scale(0);
  transition: .6s ease-in .1s;
  --opacity: 1;
  --transform: scale(1);
}

[data-animation="up"] {
  opacity: 0;
  transform: translateY(100%);
  transition: 0.6s ease-in .1s;
  --opacity: 1;
  --transform: translateY(0);
}

.unset{
  opacity: var(--opacity);
  transform: var(--transform);
}


.ima{
  height: 10rem;
  width: 15rem;
  border-radius: 10px;
  margin: 0;
}
.div_ventajas{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgba(0, 139, 255, 1);
  padding: 10px 25px 10px 25px;
  width: 75.5%;
  border-radius: 10px;
  overflow: hidden;
  background: #4FA4FF;
  box-shadow: 0 5.6px 15.5px rgba(0, 0, 0, 0.43);
  color:#FFFFFF;
  margin-left: 6.5%;
  margin-top: 6.5%;
}

.fit {
  display: flex;
  position: relative;
  align-items: center;
  background: #4B4B4B;
  color: #FF9600;
  width: 100%;
  flex-direction: column;
  height: 50%;
  
}

.fit .as {
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0 0 0 0;

}

.fit a {
  text-decoration: none;
  color: #FFFFFF;
}

.vavi ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

.fit p {
  text-align: center;
}

#contact{
  background: #7BBBFF;
  width: 100%;
  height: 6vh;
  margin-bottom: 20%;
  padding: 6% 0 20% 0;
  overflow: hidden;
}

#contact div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

#contact div nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 10% 0% 0% -7%;
};

.list_contac {
  
}

.list_contac li a img{
  width: 45px;
  height: 45px;
  margin: 0;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  padding:5px;
  transition: all 1s ease-in-out;
}

.list_contac li a img:hover{
  transform: scale(-1.25);
  background: #7F7F7F;
  border-color: #A2CFFF;
}

